body{
    background-color: white;
}
.header{
    display: flex;
}
.header img{
    width: 200px;
}
.header h1{
    font-size: 75px;
    text-align: center;
    margin:auto;
}
.mid-txt{
    text-align: center;
}
.container-recipes{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    max-width: fit-content;
    margin:auto;
}
.recipe-img{
    width: 100px;
    height: 100px;
}
.recipe{
    color:white;
    border: solid 5px black;
    background-color: greenyellow;
    border-radius: 10%;
    text-align: center;
    width: 300px;
    height: 350px;
    
}
.recipe-link{
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.recipe-title{
    font-size:26px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}
.img-container {
    display: flex;
    justify-content: center;
    height: 500px;
}
h1{
    color: tomato;
    text-align: center;
    font-size: 50px;
}
.desc {
    text-align: center;
}
.instructions {
   
    background-color: dimgrey;
    display:grid;
    grid-template-columns: 50% 50%;
    color:whitesmoke;
    margin:auto;
    max-width: fit-content;
}
.grid-item{
   border: solid 1px black;
   padding: 10px;
}
.warning {
    color: red;
    
}
.warning:hover{
    font-size: 200%;
}